
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Fusion Byte Tutorial</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	         <h1>Average Weekly Wages Across the U.S. </h1>
           <p> Question :  What is the state where residents earn the most accross the U.S.? </p>
      </div>
      	<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+1FbTP1O3Iofua3CnRr8RKEQ5-KmqAEi_PcCqebubr+where+col0+does+not+contain+ignoring+case+&#39;State&#39;&amp;viz=MAP&amp;h=false&amp;lat=42.8602973745399&amp;lng=-99.75978125&amp;t=1&amp;z=4&amp;l=col0&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG"></iframe>

        
        <div class="col-sm-4">
          <ul class="list-group">
            <li class="list-group-item"><img width="15" height="15" src="http://maps.google.com/mapfiles/kml/paddle/red-circle.png"/> 1540 ~ 1704 $/Week</li>     
            <li class="list-group-item"><img width="15" height="15" src="http://maps.google.com/mapfiles/kml/paddle/purple-circle.png" /> 1376 ~ 1540 $/Week</li>
            <li class="list-group-item"><img width="15" height="15" src="http://maps.google.com/mapfiles/kml/paddle/blu-circle.png" /> 1212 ~ 1376 $/Week</li>
            <li class="list-group-item"><img width="15" height="15" src="http://maps.google.com/mapfiles/kml/paddle/grn-circle.png" /> 1048 ~ 1212 $/Week</li>
            <li class="list-group-item"><img width="15" height="15" src="http://maps.google.com/mapfiles/kml/paddle/ylw-circle.png" /> 884 ~ 1048 $/Week</li>
             <li class="list-group-item"><img width="15" height="15" src="http://maps.google.com/mapfiles/kml/shapes/placemark_circle.png" /> 720 ~ 884 $/Week</li>
          </ul>

        </div><!-- /.col-sm-4 -->
    
        
        <p> To answer the question, you can play around with the map below plotting average weekly wages and employment counts per states. Different icons are used for different range of weekly wages. large-icon states have higher average weekly wages than small-icon states. </p>

      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
